#data__table {
  width: 600px;
}

#data__table tbody {
  height: 270px;
  overflow: hidden;
}

#data__table tbody #selected__row {
  background-color: #6db8ff;
}

#data__table tr th:nth-child(1),
#data__table tr td:nth-child(1) {
  display: none;
}
#data__table tr th:nth-child(2),
#data__table tr td:nth-child(2) {
  width: 50px;
  text-align: left;
  border: solid 1px rgb(0, 0, 0);
}
#data__table tr th:nth-child(n+3),
#data__table tr td:nth-child(n+3) {
  width: 40px;
  text-align: center;
  border: solid 1px rgb(0, 0, 0);
}
#data__table tr td:nth-child(n+3) input {
  width: 38px;
  text-align: center;
  /* border: none; */
  padding: 0;
}
#data__table tr td:nth-child(n+3) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#data__table tr td div:nth-child(1) {
  border-bottom: solid 1px rgb(0, 0, 0);
}