body {
  margin: 4px;
  border: solid 1px #0000cc;
  display: flex;
  flex-direction: column;
  height: calc(600px - 2px);
  width: calc(900px - 2px);
}
.top__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
}.left__wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.right__wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.bottom__wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
}
input {
  text-align: center;
}
#file_upload_1,
#file_upload_2,
#file_upload_3 {
  display: none;
}
#file_upload_1 + label,
#file_upload_2 + label,
#file_upload_3 + label {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #0000ff;
  width: 180px;
  height: 20px;
}
#preview__button_1,
#preview__button_2,
#preview__button_3 {
  width: 30px;
  margin: 0;
}
.input-block__outer {
  width: 100%;
}
.input_title {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: right;
}
.input__title {
  width: 55px;
}
.input_title input {
  height: 20px;
}
#mea_date {
  width: 160px;
}
#save__button,
#update__button {
  width: 50px;
  height: 22px;
}
#file_area {
  width: 100%;
  height: 415px;
  transform-origin: bottom;
}
#file_area_1,
#file_area_2,
#file_area_3 {
  width: 265px;
  height: 415px;
  transform-origin: bottom;
  border-right: solid 1px #0000ff;
}
object {
  width: 100%;
  height: 100%;
}
#file_list__table tbody {
  height: 120px;
  width: 630px;
  overflow: auto;
}
#file_list__table thead tr th:nth-child(1),
#file_list__table tbody tr td:nth-child(1) {
  display: none;
}
#file_list__table thead tr th:nth-child(2),
#file_list__table tbody tr td:nth-child(2) {
  width: 60px;
}
#file_list__table thead tr th:nth-child(3),
#file_list__table tbody tr td:nth-child(3),
#file_list__table thead tr th:nth-child(4),
#file_list__table tbody tr td:nth-child(4),
#file_list__table thead tr th:nth-child(5),
#file_list__table tbody tr td:nth-child(5) {
  width: 180px;
}