.left__wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
input {
  text-align: left;
}
#file_upload {
  /* width: 270px; */
  display: none;
}
#file_upload + label {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #0000ff;
  width: 300px;
  height: 20px;
}
#preview__button {
  width: 50px;
  margin: 0;
}
.input-group {
  display: flex;
  flex-direction: row;
}
.input-block__outer {
  width: 100%;
}
.input_title {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: right;
}
.input__title {
  width: 80px;
}
.input_title input {
  height: 20px;
}
.time--input {
  width: 300px;
}
.gas-input {
  width: 150px;
}
#gas_start,
#gas_end {
  width: 60px;
}
#homo_start,
#homo_end {
  width: 160px;
}
#data__table {
  /* width: 410px; */
}

#data__table tbody {
  height: 250px;
  overflow: hidden;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
#data__table tbody #selected__row {
  background-color: #6db8ff;
}

#data__table tr th:nth-child(1),
#data__table tr td:nth-child(1) {
  display: none;
}
#data__table tr th:nth-child(2),
#data__table tr td:nth-child(2) {
  width: 50px;
  text-align: left;
}
#data__table tr th:nth-child(n+3),
#data__table tr td:nth-child(n+3) {
  width: 50px;
  text-align: center;
}
#data__table tr td:nth-child(n+3) input {
  width: 48px;
  text-align: center;
  /* border: none; */
  padding: 0;
}
#data__table tr td:nth-child(n+3) select {
  width: 50px;
  text-align: center;
  /* border: none; */
  padding: 0;
}
#data__table tr td:nth-child(n+3) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#summary__table tbody {
  height: 110px;
  /* width: 480px; */
  overflow: auto;
}
#summary__table thead tr th:nth-child(1),
#summary__table tbody tr td:nth-child(1),
#summary__table thead tr th:nth-child(2),
#summary__table tbody tr td:nth-child(2),
#summary__table thead tr th:nth-child(3),
#summary__table tbody tr td:nth-child(3),
#summary__table thead tr th:nth-child(4),
#summary__table tbody tr td:nth-child(4) {
  width: 70px;
}