.input-group {
  display: flex;
  flex-direction: row;
}
.no-input {
  background-color: #edff85;
}
.input_title {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: right;
}
.input_title input {
  height: 20px;
}
.title {
  background-color: #00ccff;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #000000;
  height: 20px;
}
.time-input {
  width: 260px;
}
.gas-input {
  width: 130px;
}
#gas_start,
#gas_end {
  width: 40px;
}
#homo_start,
#homo_end {
  width: 160px;
}
#data__table {
  width: 410px;
}

#data__table tbody {
  height: 180px;
  overflow: hidden;
}

#data__table tbody #selected__row {
  background-color: #6db8ff;
}

#data__table tr th:nth-child(1),
#data__table tr td:nth-child(1) {
  display: none;
}
#data__table tr th:nth-child(2),
#data__table tr td:nth-child(2) {
  width: 50px;
  text-align: left;
}
#data__table tr th:nth-child(n+3),
#data__table tr td:nth-child(n+3) {
  width: 40px;
  text-align: center;
}
#data__table tr td:nth-child(n+3) input {
  width: 38px;
  text-align: center;
  /* border: none; */
  padding: 0;
}
#data__table tr td:nth-child(n+3) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}