body {
  margin: 4px;
  border: solid 1px #0000cc;
  display: flex;
  flex-direction: column;
  height: calc(600px - 2px);
  width: calc(1000px - 2px);
}
.add-record {
  background-color: aqua;
}
#import_date,
#import_start_date,
#import_end_date {
  width: 100px;
}
#save__button {
  margin: 0px;
  height: 20px;
  width: 50px;
}
.quantity {
  background-color: aqua;
}
.summary__wrapper {
  height: calc(598px - 2px);
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: row;
}
#casting_table tbody {
  height: 500px;
  width: 150px;
  overflow: auto;
}
#casting_table th:nth-child(1),
#casting_table td:nth-child(1) {
  display: none;
}
#casting_table th:nth-child(2),
#casting_table td:nth-child(2) {
  width: 60px;
}
#casting_table th:nth-child(3),
#casting_table td:nth-child(3) {
  width: 30px;
}
#casting_table th:nth-child(4),
#casting_table td:nth-child(4) {
  width: 35px;
}
#add__table tbody {
  height: 520px;
  width: 385px;
  overflow: hidden;
}
#add__table th:nth-child(1),
#add__table td:nth-child(1) {
  display: none;
}
#add__table th:nth-child(2),
#add__table td:nth-child(2) {
  width: 40px;
}
#add__table th:nth-child(3),
#add__table td:nth-child(3) {
  width: 40px;
}
#add__table td:nth-child(3) input
{
  width: 37px;
  border: none;
}
#add__table th:nth-child(4),
#add__table td:nth-child(4) {
  width: 55px;
}
#add__table th:nth-child(5),
#add__table td:nth-child(5) {
  width: 50px;
}
#add__table td:nth-child(5) select {
  width: 50px;
  text-align: left;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
#add__table th:nth-child(6),
#add__table td:nth-child(6) {
  width: 30px;
}
#add__table td:nth-child(6) select {
  width: 30px;
  text-align: left;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
#add__table th:nth-child(7),
#add__table td:nth-child(7) {
  width: 30px;
}
#add__table td:nth-child(7) input {
  width: 26px;
  text-align: left;
  border: none;
}
#add__table th:nth-child(8),
#add__table td:nth-child(8) {
  width:100px;
}
#add__table td:nth-child(8) input {
  width: 98px;
  text-align: left;
  border: none;
}

#summary__table tbody {
  height: 500px;
  width: 435px;
  overflow: auto;
}
#summary__table th:nth-child(1),
#summary__table td:nth-child(1) {
  display: none;
}
#summary__table th:nth-child(2),
#summary__table td:nth-child(2) {
  width: 60px;
}
#summary__table th:nth-child(3),
#summary__table td:nth-child(3) {
  width: 40px;
}
#summary__table th:nth-child(4),
#summary__table td:nth-child(4) {
  width: 40px;
}
#summary__table th:nth-child(5),
#summary__table td:nth-child(5) {
  width: 50px;
}
#summary__table th:nth-child(6),
#summary__table td:nth-child(6) {
  width: 40px;
}
#summary__table th:nth-child(7),
#summary__table td:nth-child(7) {
  width: 30px;
}
#summary__table th:nth-child(8),
#summary__table td:nth-child(8) {
  width: 30px;
}
#summary__table th:nth-child(9),
#summary__table td:nth-child(9) {
  width: 100px;
}
.class1 {
  display: inline-block;
  align-items:center;
}
.input1 {
  display: inline-block;
  width: 200px;
  padding-left: 20px;
}
button {
  width:90px;
  height:20px;
}